@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, button {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
  overflow-y: scroll;
}
ul ,ol ,li {
  list-style: none;
}
input,select,button {
  vertical-align: middle;
}
img {
  vertical-align: top;
}
i, em, address {
  font-style: normal;
}
label, button {
  cursor: pointer;
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
	text-decoration: none;
}
input:focus,
button:focus{
    outline: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.fl {float:left;}
.fr {float:right;}
.clear {clear:both;}
.red {color:#e10009;}
.pur-btn {background:#6c3ad3; border:1px solid #6c3ad3; border-radius: 5px; color:#fff;}
.white-btn {background:#fff; border:1px solid #dbdbdb; border-radius: 5px; color:#888; transition: all .2s;}
.white-btn:hover {background:#23409c; border:1px solid #23409c; color:#fff;}
.white-bg {background:#fff;}
.gray-bg {background:#f2f2f2;}
.black-btn {background:#555; color:#fff; border:1px solid #555; border-radius:3px;}