@charset "utf-8";
body {min-width: 320px; margin: 0; padding: 0;  font-size: 15px; font-family: 'Nanum Gothic','Noto Sans KR',sans-serif; }
#wrap{width:100%;position:relative;text-align:center;}
.inner {position:relative; width:1180px; margin:0 auto;}
.slideon { opacity: 0; transform: translateY(50px); transition-duration: 1s;}
.slideup { opacity: 1; transform: translateY(0%);}
#container {position: relative; margin-top:60px; background:#fff;}
.content-title {font-size:2.1em; letter-spacing: -2px; font-weight: 400; margin-bottom: 30px;}
.clear:after {content: ''; display: block; clear: both;}
.blue {color:#23409c;}

/* 상단 */
#topmenu {position:fixed; top:0; left:0; width:100%;height:60px;text-align:center;z-index:101; background:#fff; border-bottom: 1px solid #dbdbdb;}
#topmenu .inner {width:1180px;}
#topmenu h1 {float:left; padding:0; text-align:left;}
#topmenu h1 img { vertical-align: middle; width:115px;}
#topmenu .top-nav {position:relative; font-size:0; transition:all .3s; }
#topmenu .top-nav ul.top-nav-l {margin-left:25px; }
#topmenu .top-nav ul.top-nav-r {margin-left: 15px;}
#topmenu .top-nav .top-nav-r {height: 60px; line-height:50px;}
#topmenu .top-nav .top-nav-r .fl {height:60px; line-height: 60px;}
#topmenu .top-nav .top-nav-r li {float:left; margin:0 13px;}
#topmenu .top-nav .top-nav-r li a {color:#555; font-size: 16px;}
#topmenu .top-nav .top-util {float:right;}
#topmenu .top-nav .top-util a {display: inline-block; font-size: 14px; width:105px; line-height: 35px; margin:11px 0 0 10px;}
#topmenu .top-nav .top-util > div {float:left; margin:0 15px;}
#topmenu .top-nav > ul > li {position: relative; display:inline-block; vertical-align:top; font-size:19px; font-weight:400; }
#topmenu .top-nav > ul > li > a {position:relative; color:#555; display:block; padding:0 20px; overflow:hidden; transition: all .2s; font-size: 18px; height:60px; line-height:60px; }
#topmenu .top-nav > ul > li > a:hover {color:#333;}
#topmenu .top-nav .white-btn {display: inline-block; font-size: 14px; width:auto; height: 35px; line-height: 35px; margin:11px 0 13px 10px;}
#topmenu .top-nav .white-btn:hover {color:#fff;}
#topmenu .util-wrap .sub-wrap {margin-left: -160px; top:80px;}
#topmenu .util-wrap .sub-wrap.active {top:60px;}
#topmenu .util-wrap .sub-wrap:before {left:85%;}
#topmenu .sub-wrap {opacity:0; visibility:hidden; position:absolute; z-index:999; transition:all .1s;background:#fff; border:1px solid #fff; border-radius: 5px; box-shadow: 0px 2px 11px #999; margin-left: -12px; transform: translateY(-25%);}
#topmenu .sub-wrap.active {opacity: 1; visibility: visible;transform: translateY(0);}
#topmenu .sub-wrap:before {content:''; position: absolute; display:block; top:-6px; left:45%; width:15px; height:15px; background:#fff; box-shadow: 0px 2px 11px #999; transform: rotate(45deg);}
#topmenu .sub-wrap ul {position: relative; background:#fff; width:100px; padding:10px;}
#topmenu .sub-wrap ul li a {font-size:13px; color:#555; transition: all .2s;}
#topmenu .sub-wrap ul li a:hover {color:#000;}
#topmenu .sub-wrap .top-util {width:270px; margin-left: -13%; text-align: left; padding:20px; box-sizing: border-box; line-height: 1; }
#topmenu .top-nav .top-util .top-info {position: relative; font-size: 16px;}
#topmenu .top-nav .top-util .top-info strong {font-size: 20px; font-weight: normal; display: inline-block; margin-bottom: 15px; color:#23409c; margin-right: 5px;}
#topmenu .top-nav .top-util .top-info p {color: #999; font-size: 15px; margin-bottom: 20px;}
#topmenu .top-nav .top-util .top-info a {position: absolute; top:0; right:0; text-align: center; display: inline-block; font-size: 13px; width:75px; height: 30px; line-height: 30px; margin:0;}
#topmenu .top-nav .top-util .dash-line {border-bottom: 1px dashed #e1e1e1; padding-bottom: 15px;}
#topmenu .top-nav .top-util .top-info-account {margin-top: 25px;}
#topmenu .top-nav .top-util .top-info-account:after {display: block; content: ''; clear: both;}
#topmenu .top-nav .top-util .top-info-account i {display: inline-block; background:#23409c; width:20px; height:20px; line-height: 20px; color:#fff; border-radius: 50%; text-align: center; vertical-align: 0; margin-left: 5px;}
#topmenu .top-nav .top-util .top-info-account > div strong {font-weight: 500; font-size: 15px;}
#topmenu .top-nav .top-util .top-info-account > div {width:100%; height: 30px; font-size: 18px;}
#topmenu .top-nav .top-util .top-info-account > div a {display: block; margin:0; line-height: 1;}
#topmenu .top-nav .top-util .top-info-account > div .fr {text-align: right;}
#topmenu .top-nav .top-util .top-info-account > div .fr a {color:#23409c;}
#topmenu .top-nav .top-util .top-info-account p {font-size: 13px; margin:8px 0 25px; text-align: right;}
#topmenu .top-nav .top-util .top-modify a {display:block;background:#f9f9f9;width: 100%;margin: 5px 0; padding-left: 10px; box-sizing: border-box;}
#topmenu .top-nav .top-util .top-modify a:after {content:"\f105"; font-family:FontAwesome; float: right; margin-right: 15px;}




/* 모바일 상단 */
#mTopmenu {display:none; position:fixed; top:0; left:0; width:100%; height:52px; border-bottom:1px solid #f1f1f1; z-index: 90; padding:0 5%; box-sizing: border-box; background:#fff;}
#mTopmenu h1 {width:auto; padding:13px 0 0; text-align:center; }
#mTopmenu h1 img {width: 85px;}
#mTopmenu .menu {position: absolute; left:15px; top:8px; font-size:1em; margin-top:5px;}
#mTopmenu .menu a {position: relative; display:block; width:28px; height:21px;}
#mTopmenu .menu a span {position: absolute; background:#a0a0a0; display:block; width:25px; height:2px;}
#mTopmenu .menu a span:nth-child(1) {top:2px;}
#mTopmenu .menu a span:nth-child(2) {top:10px; width:22px;}
#mTopmenu .menu a span:nth-child(3) {top:18px;}
#mTopmenu .mypage {position: absolute; top:7px; right: 15px; font-size: 22px; color:#757575;}
#mTopmenu .sub-mymenu {position: absolute;width: 100%;top: 50px;left: 0;background: #fff;z-index: 99;border-bottom: 1px solid #e1e1e1;padding-top: 10px;}
#mTopmenu .sub-mymenu ul li {width:20%; padding:0; text-align: center; float: left; line-height: 1;}
#mTopmenu .sub-mymenu ul li.on a {display: inline-block;}
#mTopmenu .sub-mymenu ul li.on a:after {content: ''; background: #23409c; display: inline-block; height: 2px; width: 100%; position: relative; top:3px;}
.m-sub-topmenu { background:#161a1c;}
.m-topmenu { background:transparent; transition: all .3s;}
.m-topmenu.fixmenu { background:#161a1c;}
.scroll-func {width:100%;}
.left-warp  {width:300px;position: absolute; left:-110%;display: none;z-index: 400;height:100%;background: #fff;overflow: hidden; padding: 0 4%; box-sizing: border-box;}
.left-warp h1 {float:left;}
.left-warp h1 img {width:95px;vertical-align: middle;}
.left-wrap-top {height:55px; border-bottom:1px solid #dbdbdb; box-sizing: border-box; margin-top: 15px;}
.left-warp .depth {padding:10% 0;}
.left-warp .depth li a {display:block; padding:15px 3%; transition: all .2s;}
.left-warp .depth01 {position: relative; border-bottom: 1px solid #dbdbdb;}
.left-warp .depth01.active .depth02 {max-height: 500px;  padding:10px 0; border-top:1px solid #161a1c;}
.left-warp .depth01 > a {color:#1c1c1c; font-size:16px;}
.left-warp .depth01 span.more {position: absolute; right:5px; transform: rotate(90deg); display: block; padding: 10px; top:6px; z-index: -1;}
.left-warp .depth02 { background:#f7f7f7; max-height: 0; overflow: hidden; -webkit-transition: max-height .2s; -moz-transition: max-height .2s; transition: max-height .2s;}
.left-warp .depth02 > li > a {color:#949494; font-size:13px; padding:10px 3% 10px 10%;}
.left-warp .country {text-align:center;}
.left-warp .country li {display:inline-block; vertical-align: middle; margin:0 2%;}
.left-warp .country li a {color:#888;}
.left-warp .country li.on a {border-bottom:2px solid #161a1c; box-sizing:border-box; line-height:17px; color:#161a1c; padding-bottom: 5px;}
.right-warp  {width:300px;position: absolute; right:-110%;display: none;z-index: 400;height:100%;background: #ececee;overflow: hidden; box-sizing: border-box;}
.right-warp .right-menu {font-size: 0; text-align: center; margin:60px 0 20px; border-bottom: 5px solid #d8d8db; padding:0px 15px 80px;}
.right-warp .right-menu > a {display: inline-block; width:40%; vertical-align: middle; font-size: 15px; text-align:center; border:1px solid #dbdbdb; margin:0 1%; padding:10px 0; border-radius: 5px; background:#fff;}
.right-warp .right-menu > div {font-size: 17px;}
.right-warp .right-menu > div strong {font-size: 25px; font-weight: 400; display: inline-block; margin-right: 5px;}
.right-warp .right-menu > div.fr a {display: inline-block; width:80px; vertical-align: middle; font-size: 15px; text-align:center; border:1px solid #dbdbdb; margin:0 1%; padding:10px 0; border-radius: 5px; background:#23409c; color:#fff;}
.right-warp .right-icon {font-size: 0; background:#23409c;}
.right-warp .right-icon a {display: inline-block; vertical-align: middle; color:#fff; font-size: 15px; width:50%; border-right: 2px solid rgba(255,255,255,0.1); border-bottom: 2px solid rgba(255,255,255,0.1); box-sizing: border-box; text-align: center; padding: 10px 0;}
.right-warp .right-icon a img {display: block; margin:0 auto 5px; width:35%;}
.right-login {display: none;}
.right-login p {text-align: center; margin:35px 0 50px;}
.right-account {margin-top: 40px;}
.right-account:after {display: block; content: ''; clear: both;}
.right-account i {display: inline-block; background:#23409c; width:25px; height:25px; line-height: 25px; color:#fff; border-radius: 50%; text-align: center; vertical-align: 2px;}
.right-account strong {font-weight: 400;}
.right-account > div {width:100%; padding: 0 15px; box-sizing: border-box; font-size: 18px;}
.right-account > div a {display: block;}
.right-account > div .fr {text-align: right;}
.right-account > div p {font-size: 13px; margin:10px 0 20px;}
.right-account ul {clear: both;padding-top: 20px; height: 46px; margin: 0 15px 30px;}
.right-account ul li {float:left; width:32.333%; text-align: center;}
.right-account ul li a {display: block; border:2px solid #23409c; border-radius: 3px; color:#23409c; padding: 10px 0; transition: all .2s;}
.right-account ul li:nth-child(2) {margin:0 1.333%;}


.black-bg {position: absolute;background:#000;width:100%;height: 100%;left:0;top:0;opacity: 0.6;z-index: 100;display: none;}
.not-scroll {position:fixed;overflow:hidden;width:100%;height:100%}
.left-warp .side-close {float:right; margin-right:20px;}
.right-warp .side-close {float:left; margin-left:10px;}
.side-close a {position: relative;}
.side-close span {position: absolute; top:27px; display: block; width:23px; height:1px; background:#161a1c;}
.side-close span:nth-child(1) {transform:rotate(-45deg);}
.side-close span:nth-child(2) {transform:rotate(45deg);}





/* 메인 슬라이드 */
.main-slider { position: relative; width: 100%; height:460px; min-height: 8vw; opacity: 0; visibility: hidden; -webkit-transition: all 1.2s ease; transition: all 1.2s ease; }
.main-slider.slick-initialized { opacity: 1; visibility: visible; }
.main-slider .slick-slide {display: none; float: left; min-height: 1px; }
.main-slider .slick-slide::before { background-color: #000; opacity: .3; z-index: 1; }

.main-slider .slick-slide .slide-image { opacity: 0;  height: 100%; background-size: cover; background-position: center; -webkit-transition: all .8s ease; transition: all .8s ease; }
.main-slider .slick-slide .slide-image.show { opacity: 1; }
.main-slider .slick-slide .image-entity { width: 100%; opacity: 0; visibility: hidden; }
.main-slider .slick-slide .loading { position: absolute; top: 44%; left: 0; width: 100%; }
.main-slider .slick-slide .slide-media { -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1); animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1); }
.main-slider .slick-slide.slick-active { z-index: 1; }
.main-slider .slick-slide.slick-active .slide-media { -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1); animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1); }
.main-slider .slick-arrow { position:absolute; z-index: 9; top:50%; display: block; width:25px; height:50px; transition: all .2s; transform: translateY(-50%);}
.main-slider .slick-prev {left:50%; text-indent: -9999px; background:url("/resources/images/arr_left_wt_25x49.png")no-repeat; margin-left:-622px;}
.main-slider .slick-next {right:50%; text-indent: -9999px;  background:url("/resources/images/arr_right_wt_25x49.png")no-repeat; margin-right:-622px;}
.main-slider .slick-prev:hover,
.main-slider .slick-next:hover {opacity: 1;}
.main-slider .slick-dots {position: absolute; bottom:30px; left:0; width:100%; text-align:center;}
.main-slider .slick-dots li {position: relative; display: inline-block; vertical-align: top; margin:0 5px;}
.main-slider .slick-dots li.slick-active button { opacity: 1;}
.main-slider .slick-dots button {display:inline-block; width:8px; height:8px; text-indent: -9999px; background:#fff; border:1px solid #fff; border-radius: 50%; opacity: .2;}
.main-slider-item {position: relative; overflow: hidden;}
.main-slider-text-wrap {width:100%; height:100%; position: absolute; top:0; left:0;}
.main-slider-text {position: relative; width:1180px; height:100%; padding-top:5%; margin:0 auto; padding-left: 7%; box-sizing: border-box; text-align:left;color:#fff; font-family: "Open Sans",sans-serif;}
.main-slider-text h2 {font-size: 37px; font-weight: 600; letter-spacing: 1px; line-height: 1.2;}
.main-slider-text strong {font-size:5em; font-weight: 400;display:inline-block; margin-right:5px;}
.main-slider-text .number {font-size: 18px; color:#fff;}
.main-slider-text ul li {font-size:14px;}
.main-slider-text ul li span {display:inline-block; border:1px solid #fff; font-weight: bold; border-radius: 5px; font-size:12px; padding:0 3px; margin-right:5px;}
.main-slider-text p {font-size: 17px;}
.main-slider-text a.more {display: block; width:120px; text-align:center; padding:10px 0; margin-top:45px; transition: all .2s; font-size: 12px; border-radius: 5px; background:#fff;}
.main-slider-text a.more:hover {background:#f8f9fa}
.main-slider .slick-slide .main-slider-text {opacity: 0; transform: translateY(35px); transition: all 1.2s;}
.main-slider .slick-active .main-slider-text {opacity: 1; transform: translateY(0);}
.main-slider-img {height:460px;}
.main-slider-thumb {position: absolute; top:0; right:0;}
.main-slider-thumb img {width:100%;}
.main-slider-item01 .main-slider-text {color:#222;}
.main-slider-item01 .main-slider-text p {color:#888; font-size: 14px;}
.main-slider-item01 .main-slider-text span {display: inline-block; padding:2px 10px; background:#b7b7b7; color:#fff; font-size: 12px; border:1px solid #b7b7b7; border-radius: 20px; margin-right:10px;}
.main-slider-item01 .main-slider-text ul li {display: inline-block; font-size: 13px; position: relative; padding:0 8px 0 2px; color:#fff;}
.main-slider-item01 .main-slider-text ul li:after {content:''; display: block; width:1px; height:15px; position: absolute; top:3px; right:0; background:#999;}
.main-slider-item01 .main-slider-text ul li:last-child:after {display: none;}
.main-slider-item01 .main-slider-text a {background:#c2947b; color:#fff;}
.main-slider-item01 .main-slider-text a:hover {background:#ad7e64}
.main-slider-item01 .main-slider-thumb {top:32%; width:40%;}
.main-slider-item02 .main-slider-text a {color:#b0b06d;}
.main-slider-item03 .main-slider-text a {color:#79789c;}
.main-slider-item04 .main-slider-text a {color:#5d6693;}
.main-slider-item02 .main-slider-thumb, 
.main-slider-item03 .main-slider-thumb,
.main-slider-item04 .main-slider-thumb {border-radius: 50%; overflow:hidden; width:25%; top:20%; right:6%;}
.main-slider-item05 .main-slider-text span {background:#6856b2; border:1px solid #6856b2; margin-bottom: 30px;}
.main-slider-item05 .main-slider-text .number {color:#aaa2c6; font-size: 3em; letter-spacing: -3px; line-height: 1.2;}
.main-slider-item05 .main-slider-text .number strong {font-size: 1em; color:#fff;}
.main-slider-item05 .main-slider-text ul li {color:#b0adbd; margin-top:15px;}
.main-slider-item05 .main-slider-text a {background:#6b6685;}
.main-slider-item05 .main-slider-text a:hover {background:#7d7994;}



/* 슬라이드 밑 카운트 */
.main-counter-banner {background:#f1f1f1; border-bottom: 1px solid #dbdbdb; padding:11px 0 8px; height: 88px;}
.main-counter-banner:after {content:''; display: block; clear: both;}
.counter-item {float:left; font-family: "Nanum Gothic";}
.counter-item p {color:#1a4993; font-size: 17px; font-weight: bold;}
.counter-item p:after {content:''; display:block; width:50px; height:2px; background:#3abc3a; margin:9px auto 3px;}
.counter-item .main-count {font-size: 23px; font-weight: bold;}
.counter-item .main-count span {font-size:15px; color:#1a4993; font-weight: normal;}
.counter-item .main-count span.count-number {font-size:23px; font-weight: bold; color:#000;}
.counter-item span {color:#999; font-size:12px;}
.counter-item a {display: block; padding:5px 10px; color:#fff; font-size: 12px; border-radius: 10px;}
.counter-item a:first-child {background:#1a4993; margin: 10px 0 5px;}
.counter-item a:last-child {background:#3abc3a;}
.counter-item a span {color:#fcff00}
.counter-item01 {width:15%;}
.counter-item02 {width:20%;}
.counter-item03 {width:23%;}
.counter-item04 {width:15%;}
.counter-item05 {width:auto;}


/* 중간배너 */
.main-swiper {}
.main-swiper .slick-slide {display: none; float: left; min-height: 1px; }
.main-swiper .slick-slide::before { background-color: #000; opacity: .3; z-index: 1; }
.main-swiper .slick-slide a {display:block; width:1160px; margin:0 auto;}
.main-swiper .slick-slide a img {width:100%; max-width:1160px;}
.main-swiper .slick-slide .slide-image { opacity: 0;  height: 100%; background-size: cover; background-position: center; -webkit-transition: all .8s ease; transition: all .8s ease; }
.main-swiper .slick-slide .slide-image.show { opacity: 1; }
.main-swiper .slick-slide .image-entity { width: 100%; opacity: 0; visibility: hidden; }
.main-swiper .slick-slide .loading { position: absolute; top: 44%; left: 0; width: 100%; }
.main-swiper .slick-slide .slide-media { -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1); animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1); }
.main-swiper .slick-slide.slick-active { z-index: 1; }
.main-swiper .slick-slide.slick-active .slide-media { -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1); animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1); }
.main-swiper .slick-arrow { position:absolute; z-index: 9; top:50%; display: block; width:25px; height:50px; transition: all .2s; transform: translateY(-50%);}
.main-swiper .slick-prev {left:50%; text-indent: -9999px; background:url("/resources/images/arr_left_wt_25x49.png")no-repeat; margin-left:-622px;}
.main-swiper .slick-next {right:50%; text-indent: -9999px;  background:url("/resources/images/arr_right_wt_25x49.png")no-repeat; margin-right:-622px;}
.main-swiper .slick-prev:hover,
.main-swiper .slick-next:hover {opacity: 1;}
.main-swiper-item01 {background:#ddf0f6;}
.main-swiper-item02 {background:#e7e9ff;}
.main-swiper-item03 {background:#d3e6ff;}
.main-swiper-item04 {background:#3d6afe;}
.main-swiper-item05 {background:#fff6e2;}






#mainVisual {position: relative; border:1px solid #dbdbdb; margin-top: 7%; padding-bottom: 2%;}
#mainVisual .bx-wrapper { position: relative; margin: 0 auto; padding: 0; *zoom: 1; width:100%; }
#mainVisual .bx-wrapper .mainVisual > li { max-width: 100%; display: block; margin:0 auto;}
#mainVisual .bx-wrapper a { text-decoration:none; }
#mainVisual .bx-wrapper .bx-viewport {-webkit-transform: translatez(0);-moz-transform: translatez(0);-ms-transform: translatez(0);-o-transform: translatez(0);transform: translatez(0);}
#mainVisual .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: relative; }
#mainVisual .bx-wrapper .bx-pager { text-align: center; font-size: .85em; font-family: Arial;  font-weight: bold; color: #666; }
#mainVisual .bx-wrapper .bx-pager .bx-pager-item { display: inline-block; *zoom: 1; *display: inline; }
#mainVisual .bx-wrapper .bx-pager.bx-default-pager a { background: #ccc; text-indent: -9999px; display: block; width: 10px; height: 1px; margin: 0 2px; outline: 0; }
#mainVisual .bx-wrapper .bx-pager.bx-default-pager a:hover,
#mainVisual .bx-wrapper .bx-pager.bx-default-pager a.active { background: #000; }
#mainVisual .bx-wrapper .bx-controls-auto { text-align: center; float:left; width:30%;}
#mainVisual .bx-wrapper .bx-controls-auto .bx-start { display: block; text-indent: -9999px; width: 13px;height: 15px; outline: 0; background: url(/resources/images/run.svg) 0 0 no-repeat; margin: 0 3px; background-size:17px auto; z-index: 55; position: relative;}
#mainVisual .bx-wrapper .bx-controls-auto .bx-start.active { background-position: 0 0; background-size: 17px auto;}
#mainVisual .bx-wrapper .bx-controls-auto .bx-stop { display: block; text-indent: -9999px; width: 13px; height: 15px; outline: 0; background: url(/resources/images/pause.svg) 0 0 no-repeat; background-size:17px auto;}
#mainVisual .bx-wrapper .bx-controls-auto .bx-stop.active { background-position: 0 0; background-size: 17px auto;}
#mainVisual .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { text-align: center; width: 70%;  float:right; margin-top: 9px;}
#mainVisual .bx-wrapper .bx-controls-auto .bx-controls-auto-item { float:left;}
#mainVisual .bx-wrapper .bx-has-controls-auto {position: absolute; bottom:-5px; left:55px; z-index:55; width:11%;}
#mainVisual #bx-pager {position:absolute; top:22%; left:87%;}
#mainVisual #bx-pager > div {position:relative;}
#mainVisual #bx-pager > div > div {position: absolute; right:-8%; width:90px;}
#mainVisual #bx-pager > div > div:after {content:''; border-left:1px dashed #fff; position:absolute; top:23%; left:3px; height:54%;}
#mainVisual #bx-pager > div > div a {display:block; color:#fff; position:relative; padding-left:20px; margin:65px 0;}
#mainVisual #bx-pager > div > div a::before {content:''; display:block; width:5px; height:5px; background:#fff; border:1px solid #fff; border-radius: 50%; position:absolute; left:0; top:4px;}
#mainVisual #bx-pager > div > div a.active {font-weight:bold; font-size:13px;}
#mainVisual #bx-pager > div > div a.active::before {width:7px; height:7px; left:-1px;}
#mainVisual .bxWrap {position: relative; padding:2% 1.7%; min-width: 25%;}
#mainVisual .bxWrap strong {position: absolute; left:5%; font-size:30px; line-height:1.3; letter-spacing: -1px;}
#mainVisual .bxWrap strong span {display: block; font-size: 14px; font-weight: normal; color:#999; letter-spacing: 0;}
#mainVisual .first .bxWrap h2:after { width:56%;}
#mainVisual .second .bxWrap {padding:2.55% 1.7%;}
#mainVisual .second .bxWrap h2:after { width:55%; right:auto; left:-30%; top:auto; bottom:-10%;}
#mainVisual .third .bxWrap h2:after {width:55%; top:auto; bottom:-7%;}
#mainVisual .bxWrap h2 strong {font-weight:600;}
#mainVisual .bxWrap p {font-size:19px; line-height:1.5; margin-top:20px; letter-spacing: -0.5px;}
#mainVisual .bx-num {color:#2d5dfb; font-size: 35px; font-weight: bold;}
#mainVisual .disclosure-wrap {position: absolute; right:5%; top:35px; text-align: left;}
#mainVisual .disclosure .disclosure-gray {color:#999; font-size: 13px;}
#mainVisual .disclosure .disclosure-up {color:#2d5dfb; font-size: 11px; vertical-align: 1px;}
#mainVisual .disclosure .disclosure-up-blue {color:#2d5dfb;}
#mainVisual .disclosure2 .disclosure-up {margin-left: 14px;}
#mainVisual .disclosure .disclosure-down {color:#999; font-size: 11px; vertical-align: 1px;}
#mainVisual .disclosure .disclosure-down-blue {color:#999;}
#mainVisual .disclosure2 .disclosure-down {margin-left: 14px;}







/* 중간 탭메뉴 */
.main-tab {margin-top:7%; margin-bottom: 5%;}
.main-tab:after {content:''; display: block; clear: both;}
.main-tab h2 {font-size: 32px; font-weight: 500; margin-bottom: 40px;}
.main-tab #tabs{ overflow: hidden; width: 100%; margin: 0; padding: 0; list-style: none; }
.main-tab #tabs li{ display:inline-block; height:40px; text-align:center; font-size:14px; margin:0 5%;}
.main-tab #tabs a { position: relative; width:25%; text-decoration: none; color: #222; font-weight: normal; font-size: 20px;}
.main-tab #tabs a::after{ position:absolute; z-index: 1; top: 0; right: -.5em; background: #f9f9f9; border:1px solid #e3e3e3; }
.main-tab #tabs #current a { z-index: 3; font-weight:bold; border-bottom:3px solid #3d6afe;}
.main-tab #tabs .tabs_bot { display:block; position:absolute; width:231px; border:2px solid #382a27;}
.main-tab #content { background: #fff; position: relative; z-index: 2; margin-top:25px;}
.main-tab #content ul li {float:left; width:31.333%; margin:1%; border:1px solid #dbdbdb; box-sizing: border-box; font-family: "Nanum Gothic"; }
.main-tab #content ul li a {display: block; box-shadow: 1px 1px 1px #f1f1f1; transition: all .2s;}
.main-tab #content ul li a:hover {box-shadow: 0px 1px 8px #e1e1e1;}
.main-tab #content ul li .info {padding:5% 8%; font-size:17px;}
.main-tab #content ul li img {width:100%; max-height:206px;}
.main-tab #content ul li .title:after {content:''; display: block; clear: both;}
.main-tab #content ul li .subject {color:#3d6afe; font-weight: bold;}
.main-tab #content ul li .date {color:#666;}
.main-tab #content ul li .desc {text-align:left; height:50px; letter-spacing: -1px; margin-top:10px; overflow: hidden;
text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-wrap:break-word; }




/* 메인 펀드 */
.main-fund {background:#d9f1f2; /*margin-top:7%;*/ padding-bottom: 5%;}
.main-fund-top {padding:80px 0 50px; background:url("/resources/images/fund-bg.png")no-repeat left top; background-size: 100%;}
.fund-item {position: relative; background:#fff; padding:8% 5% 12% 5%; text-align:left; margin-bottom: 20px; border:1px solid #fff; border-radius: 5px;}
.fund-item:first-child .fund-img {top:15%;}
.fund-item:after {content: ''; display: block; clear: both;}
.main-fund .fund-num {position: absolute; left:0;}
.fund-title {padding-left: 8%; position: relative; z-index: 1;}
.fund-title.slideon {transform: translate(-5%,0);}
.fund-title.slideup {transform: translate(0,0);}
.main-fund strong {font-size: 28px; font-weight: normal;}
.main-fund p {font-size: 17px; line-height: 1.6; margin-top:25px;}
.fund-img {position: absolute; top:18%; right:6%;}
.fund-img.slideon {transform: translate(5%,0);}
.fund-img.slideup {transform: translate(0,0);}


.privacy { max-width: 900px; margin: 20px auto 50px; padding: 24px 50px; background-color: #fff; text-align: left;
            border-radius: 3px; box-shadow: 0px 1px 3px 0px #D2D2D2; line-height: 1.5; box-sizing: border-box; }
.privacy h1 { font-size: 32px; font-weight: 400; color: #3D3D3D; }
.privacy select { font-size: 12px; font-weight: 400; height: 30px; float: right;
                   margin-top: 9px; border-width: 0px;  padding: 0 10px; }
.privacy h3 { font-size: 16px; font-weight: 400; color: #606060; margin-top: 20px; margin-bottom: 10px; line-height: 1.8; }
.privacy p, .privacy  ol, .privacy li { font-size: 12px; color: #606060; line-height: 1.8; }
.privacy table {overflow: visible; border-collapse: collapse; border: 1px solid #ccc; width: 100%; font-size: 12px; }
.privacy th { background-color: #ebebeb; height: 20px; padding: 1px; border: 1px solid #ccc; }
.privacy td { height: 20px; padding: 1px; border: 1px solid #ccc; }
.privacy .table--align-center { text-align: center; }
.privacy .privacy-nav { font-size: 16px; line-height: 1.5; margin-top: 16px; margin-bottom: -1em; }
.privacy .privacy-nav a { color: #b2b2b2; text-decoration: none; margin-right: 1em; }
.privacy .privacy-nav a:hover { color: #3c3c3c; }
.privacy .privacy-nav a.active { color: #3c3c3c; border-bottom: 1px solid #3c3c3c;font-weight: bold; }
















/* =============================== 서브 ==================================== */
#container.sub-container {margin-bottom: 100px;}
#container.sub-container .inner {width:1100px;}
.sub-inner {width:1000px; margin:0 auto;}
.sub-top-title {width:100%; height:250px; background:#fff; font-size: 38px; line-height: 6; color:#fff; margin-bottom: 100px;}
.sub-top01-1 {background:url("/resources/images/sub01-1/sub-top-bg.jpg")no-repeat center; background-size: 100%;}
.sub-top01-2 {background:url("/resources/images/sub01-2/sub-top-bg.jpg")no-repeat center; background-size: 100%;}
.sub-top02-1 {background:url("/resources/images/sub02-1/sub-top-bg.jpg")no-repeat center; background-size: 100%;}
.sub-top02-2 {background:url("/resources/images/sub02-2/sub-top-bg.jpg")no-repeat center; background-size: 100%;}
.sub-top02-3 {background:url("/resources/images/sub02-3/sub-top-bg.jpg")no-repeat center; background-size: 100%;}
.sub-top03 {background:url("/resources/images/sub03/sub-top-bg.jpg")no-repeat center; background-size: 100%;}
.sub-top04 {background:url("/resources/images/sub04/sub-top-bg.jpg")no-repeat center; background-size: 100%;}
.sub-top05 {background:url("/resources/images/sub05/sub-top-bg.png")no-repeat center; background-size: 100%;}
.sub-top06 {background:url("/resources/images/sub06/sub-top-bg.jpg")no-repeat center; background-size: 100%; text-indent: -50%;}
.sub-top07 {background:url("/resources/images/sub07/sub-top-bg.jpg")no-repeat center; background-size: 100%;}
.animate {opacity: 0; transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275); transition-duration:1s;}
.animateon {opacity: 1;}
.animate-l {transform: translateX(-25%);}
.animate-l.animateon {transform: translateX(0);}
.animate-r {transform: translateX(25%);}
.animate-r.animateon {transform: translateX(0);}




.fund-select-top {}
.fund-select-top:after {content: ''; display: block; clear: both;}
.fund-select-top h3 {position: relative; font-size: 40px; margin-bottom: 50px;}
.fund-select-top h3 span {position: absolute; right:0; bottom:-40px; font-weight: normal; font-size: 15px; color:#999;}
.fund-select-top button {background:#fff; border:1px solid #dbdbdb; font-weight: bold; text-align: left; padding:5%; font-size: 26px; letter-spacing: -2px; width:31.333%; margin:0 1%; box-sizing: border-box; border-radius: 3px;}
.fund-select-top button.active {border:1px solid #222;}
.fund-select-top button span {display: block; font-weight: normal; font-size: 20px; color:#999; margin-top: 10px;}
.fund-select {margin-top: 70px;}
.fund-select h3 {position: relative; font-size: 25px; text-align: left;}
.fund-select h3 span {float: left;}
.fund-value-low {position:relative; text-align:right;}
.fund-value-low:after {content:'~'; position: absolute; right:-24px;}
.fund-select01 h3:after {display: none;}
.fund-bottom-10 {margin-bottom: 11%;}
.fund-select-line-wrap {position: relative; width:100%; transform: translateY(-53px); z-index: 12;}
.fund-select-line {position: absolute; transform: translateX(-50%); width:2px; height:4px; background:#fff;}
.fund-select-line span {display: block; width:55px; font-size: 13px; color:#999; margin-left: -25px; margin-top:20px;}
div.hslider { margin: 30px auto 50px; padding: 0; width: 100%; height: 3px; background-color: #efefef; }
div.sliderRange { margin: 2px; padding: 0; width: 1px; height: 1px; background-color: #797979; position: absolute; left: -300em; top: -30em; z-index: 0; }
/*! nouislider - 14.1.1 - 12/15/2019 */
.noUi-target,.noUi-target *{
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:transparent;
	-webkit-user-select:none;
	-ms-touch-action:none;
	touch-action:none;
	-ms-user-select:none;
	-moz-user-select:none;
	user-select:none;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.noUi-target{position:relative}
.noUi-base,.noUi-connects{width:100%;height:100%;position:relative;z-index:1}
.noUi-connects{overflow:hidden;z-index:0}
.noUi-connect,.noUi-origin{
	will-change:transform;
	position:absolute;
	z-index:1;
	top:0;
	right:0;
	-ms-transform-origin:0 0;
	-webkit-transform-origin:0 0;
	-webkit-transform-style:preserve-3d;
	transform-origin:0 0;
	transform-style:flat
}
.noUi-connect{height:100%;width:100%}
.noUi-origin{height:10%;width:10%}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin{left:0;right:auto}
.noUi-vertical .noUi-origin{width:0}
.noUi-horizontal .noUi-origin{height:0}
.noUi-handle{-webkit-backface-visibility:hidden;backface-visibility:hidden;position:absolute}
.noUi-touch-area{height:100%;width:100%}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin{-webkit-transition:transform .3s;transition:transform .3s}
.noUi-state-drag *{cursor:inherit!important}
.noUi-horizontal{height:18px}
.noUi-horizontal .noUi-handle{width:25px;height:25px;right:-17px;top:-10px}
.noUi-horizontal .noUi-handle:focus {outline: none;}
.noUi-vertical{width:18px}
.noUi-vertical .noUi-handle{width:28px;height:34px;right:-6px;top:-17px}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle{left:-17px;right:auto}
.noUi-target{background:#FAFAFA; }
.noUi-connects{border-radius:3px}
.noUi-connect{background:#3FB8AF}
.noUi-draggable{cursor:ew-resize}
.noUi-vertical .noUi-draggable{cursor:ns-resize}
.noUi-handle{
	border:1px solid #D9D9D9;
	border-radius:50%;
	background:#FFF;
	cursor:default;
	box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB
}
.noUi-active{box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB}
.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before{width:14px;height:1px;left:6px;top:14px}
.noUi-vertical .noUi-handle:after{top:17px}
[disabled] .noUi-connect{background:#B8B8B8}
[disabled] .noUi-handle,[disabled].noUi-handle,[disabled].noUi-target{cursor:not-allowed}
.noUi-pips,.noUi-pips *{-moz-box-sizing:border-box;box-sizing:border-box}
.noUi-pips{position:absolute;color:#999}
.noUi-value{position:absolute;white-space:nowrap;text-align:center}
.noUi-value-sub{color:#ccc;font-size:10px}
.noUi-marker{position:absolute;background:#CCC}
.noUi-marker-sub{background:#AAA}
.noUi-marker-large{background:#AAA}
.noUi-pips-horizontal{padding:10px 0;height:80px;top:100%;left:0;width:100%}
.noUi-value-horizontal{-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}
.noUi-rtl .noUi-value-horizontal{-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}
.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px}
.noUi-marker-horizontal.noUi-marker-sub{height:10px}
.noUi-marker-horizontal.noUi-marker-large{height:15px}
.noUi-pips-vertical{padding:0 10px;height:100%;top:0;left:100%}
.noUi-value-vertical{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);padding-left:25px}
.noUi-rtl .noUi-value-vertical{-webkit-transform:translate(0,50%);transform:translate(0,50%)}
.noUi-marker-vertical.noUi-marker{width:5px;height:2px;margin-top:-1px}
.noUi-marker-vertical.noUi-marker-sub{width:10px}
.noUi-marker-vertical.noUi-marker-large{width:15px}
.noUi-tooltip{
	display:block;
	position:absolute;
	border:1px solid #D9D9D9;
	border-radius:3px;
	background:#fff;
	color:#000;
	padding:5px;
	text-align:center;
	white-space:nowrap
}
.noUi-horizontal .noUi-tooltip{	
	-webkit-transform:translate(-50%,0);
	transform:translate(-50%,0);
	left:50%;
	bottom:120%
}
.noUi-vertical .noUi-tooltip{
	-webkit-transform:translate(0,-50%);
	transform:translate(0,-50%);
	top:50%;
	right:120%
}
.fund-value-low {margin-right: 35px;}
.fund-type {float:left; margin:-30px 0 0 10%;}
.fund-type span {font-size: 14px;}
.fund-type span.green {display: inline-block; background:#8cc987; width:5px; height:5px; vertical-align: middle; margin:0 5px 0 10px;}
.fund-type span.orange {display: inline-block; background:#f8b078; width:5px; height:5px; vertical-align: middle; margin:0 5px 0 10px;}
.fund-type span.blue {display: inline-block; background:#88a2fa; width:5px; height:5px; vertical-align: middle; margin:0 5px 0 10px;}
.fund-setting {position: relative;}
.fund-setting h3 {font-size: 27px;}
.fund-setting span {display: block; font-size: 15px; color:#888;}
.fund-switch {position: absolute; top:0; right:0;}
.fund-switch p {position: absolute; font-weight: bold;  color:#fff;}
.fund-switch p.switch-off {right:20px; top:6px;}
.fund-switch p.switch-on {display: none; left:20px; top:6px;}
.fund-switch .switch {position: relative; display: inline-block; width: 90px; height: 34px; vertical-align:middle; }
.fund-switch .switch input {display:none;} 
.fund-switch .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.fund-switch .slider:before {position: absolute; content: ""; height: 26px; width: 26px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s; }
.fund-switch input:checked + .slider { background-color: #2196F3; }
.fund-switch input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
.fund-switch input:checked + .slider:before { -webkit-transform: translateX(55px); -ms-transform: translateX(55px); transform: translateX(55px); }
.fund-switch .slider.round { border-radius: 34px; }
.fund-switch .slider.round:before { border-radius: 50%; }
.fund-btn {margin-top: 5%;}
.fund-btn button {display:inline-block; width:30%; border-radius: 3px; margin:0 1%; font-size: 18px; padding: 15px 0;}
.fund-btn button[type="button"] {border:1px solid #333; background:#fff; color:#333;}
.fund-btn button[type="button"] i {display: inline-block; margin-right: 5px;}
.fund-btn button[type="submit"] {border:1px solid #333; background:#333; color:#fff;}




.sub-contact .sub-contact-item {padding:8% 0;}
.sub-contact .sub-contact-item:after {content:''; display: block; clear: both;}
.sub-contact .sub-contact-text {width:48%; text-align:left;}
.sub-contact .sub-contact-text .contact-title img {width:130px;}
.sub-contact .sub-contact-text .contact-title strong {display: inline-block; vertical-align: middle; margin-left: 20px; font-size: 25px; color:#222}
.sub-contact .sub-contact-text .contact-title strong:before {content: ''; display: inline-block; width:1px; height:25px; background:#222; vertical-align: -1px; margin-right:20px;}
.sub-contact .sub-contact-text h3 {font-size:25px; margin:15px 0;}
.sub-contact .sub-contact-text p {word-break: keep-all; font-size: 16px; color:#555; font-family: "Nanum Gothic"; line-height: 1.5;}
.sub-contact .sub-contact-text a {display: inline-block; background:#8f9397; border:1px solid #8f9397; border-radius: 5px; color:#fff; font-weight: normal; font-family: "Nanum Gothic"; font-size: 14px; padding:6px 11px; margin-top:25px;}
.sub-contact .sub-contact-img {width:52%;}
.sub-contact .sub-contact-img img {width:80%;}




/* FAQ */
.sub-faq h2 {font-size: 40px; font-weight: normal; color:#555;}
.sub-faq #tabs { overflow: hidden; width: 310px; margin:20px 0 0; padding: 0; list-style: none; }
.sub-faq #tabs li {position: relative; display:inline-block; text-align:center; font-size:14px; padding:0 5%;}
.sub-faq #tabs li:after {content:''; position: absolute; top:7px; right:0; display: block; width:1px; height:15px; background:#ccc;}
.sub-faq #tabs li:last-child {padding-right: 0;}
.sub-faq #tabs li:last-child:after {display: none;}
.sub-faq #tabs a { position: relative; text-decoration: none; color: #222; font-weight: normal; font-size: 18px;}
.sub-faq #tabs .current a { z-index: 3; font-weight:bold;}
.sub-faq #content {clear: both; background: #fff; position: relative; z-index: 2; padding-top:25px; text-align:left;}
.sub-faq #content ul.faq-content2,.sub-faq #content ul.faq-content3 {display: none;}
.sub-faq #content ul li {border-bottom: 1px solid #e1e1e1; margin:0;}
.sub-faq #content ul li .q-line {position: relative; padding:15px 0; background:url("/resources//resources/images/board-icon.svg")no-repeat 98% center; background-size: 25px 25px; font-size: 17px; padding-right: 10%; word-break: keep-all;}
.sub-faq #content ul li .q-line span.q-num {display: inline-block; font-weight: bold; margin-right:10px;}
.sub-faq #content ul li .a-line {display: none; background:#f8f8f8; font-size: 16px; line-height: 1.5; padding:3%; border-top:1px solid #e1e1e1; word-break: keep-all;}
.sub-faq #content a.more {display: none; border:1px solid #e1e1e1; border-radius: 5px; font-size: 17px; background:#fff; font-weight: bold; width:30%; text-align: center; margin:30px auto 0; padding:10px 0;}




/*보도자료*/
.sub-news {padding:0 30px 50px; border:1px solid #dbdbdb; border-radius: 4px;}
.sub-news .news-cont {width:100%; border-bottom: 1px dashed #dbdbdb; padding:30px 0;}
.sub-news .news-cont .news-images {display: inline-block; vertical-align: top; width:40%; text-align:left;}
.sub-news .news-cont .news-images img {width:95%;}
.sub-news .news-cont .news-text {display: inline-block; vertical-align: top; width:59%; text-align:left; font-family: "Nanum Gothic";}
.sub-news .news-cont .news-text .title {font-size: 17px; letter-spacing: -0.5px; margin-bottom: 15px; word-break: keep-all;}
.sub-news .news-cont .news-text p {color:#666; font-size: 13px; height:80px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:4; -webkit-box-orient:vertical; line-height: 1.5;}
.sub-news .news-cont .news-link {width:100%; font-size: 0; margin-top:20px;}
.sub-news .news-cont .news-link div {display:inline-block; vertical-align: middle; width:50%;}
.sub-news .news-cont .news-link div:first-child {text-align: left;}
.sub-news .news-cont .news-link div:last-child {text-align: right;}
.sub-news .news-cont .news-link div:last-child a {font-size:13px; color:#1bafd6;}

.pagenation {margin-top:50px;}
.pagenation ol {font-size: 0; text-align:center;}
.pagenation ol li {display:inline-block; border:1px solid #dbdbdb; margin-right: -1px; vertical-align: top;}
.pagenation ol li a {font-size:12px; display: block; padding:6px 13px 6px;}
.pagenation ol li.prev a, .pagenation ol li.next a {font-size: 18px; padding:0 13px 3px;}
.pagenation ol li.this {background:#dbdbdb; color:#fff;}




/* 이용안내 */
.sub-use h2 {color:#000; font-size: 40px;}
.sub-use .sub-title {color:#23409c; font-size: 30px; letter-spacing: -1px; margin-top: 70px; margin-bottom: 60px; font-weight: 500;}
.sub-use .sub-title span {display: inline-block;}
.sub-use .sub-title span:before {content: ''; display: block; width:100%; height:2px; padding:1px; background:#23409c; border-radius: 20px; position: relative; top:5px;}
.sub-use .sub-use-wrap {position: relative; margin-bottom: 20%;}
.sub-use .sub-use-wrap:after {content: ''; display: block; clear: both;}
.sub-use .sub-use-wrap img {float:left; width:50%;}
.sub-use .sub-use-wrap03 img {float:none; width:100%;}
.sub-use .sub-use-wrap a {position: absolute; display: block; text-indent: -9999px;}
.sub-use .sub-use-wrap a.sub-use-link1 {top:0%; left:2%; width:16%; height:68%;}
.sub-use .sub-use-wrap a.sub-use-link2 {top:0%; left:29%; width:15%; height:67%;}
.sub-use .sub-use-wrap a.sub-use-link3 {top:0%; left:55.5%; width:15%; height:68%;}
.sub-use .sub-use-wrap a.sub-use-link4 {top:0%; right:2%; width:16%; height:68%;}
.sub-use .sub-use-banner {font-size: 0; margin:55px 0;}
.sub-use .sub-use-banner a {display:inline-block; width:50%; font-size:35px; font-weight: 500; color:#505050; position: relative; padding:51px 45px 28px; box-sizing: border-box; background:#e7e7e7; border-radius: 0 70px 70px 0;}
.sub-use .sub-use-banner a:first-child { background:#f0f0f1; border-radius: 70px 0 0 70px;}
.sub-use .sub-use-banner a:last-child p {right:45px; text-align: right;}
.sub-use .sub-use-banner a:last-child span {text-align: left;}
.sub-use .sub-use-banner a p {position: absolute;text-align:left; line-height: 1.2;}
.sub-use .sub-use-banner a span {display: block; margin-top: 22%; text-align:right; font-size: 30px; color:#7c7c7c; font-weight: normal; letter-spacing: -1px;}
.sub-use .sub-use-banner a span img {vertical-align: -1px; margin-left: 5px;}



/*개인신용대출*/
.sub02-1 {position: relative;}
.sub02-1 a {position: absolute; display: block; text-indent: -9999px;}
.sub02-1 a.sub02-link1 {top:3% ; left:29%; width:41.5%; height:3%;}
.sub02-1 a.sub02-link2 {bottom:1.7%; left:29.5%; width:41%; height:3%;}


/*부동산 담보대출*/
#contact {position: relative; }
.contact-wrap {margin-top:30px;}
.contact-title {width:100%;}
.contact-title ul {height:40px; border-bottom: 1px solid #dbdbdb;}
.contact-title ul li {float:left; width:210px; height:40px; margin-right: 5px; border:1px solid #dbdbdb; box-sizing: border-box; border-bottom: 0; border-radius: 3px 3px 0 0; background:#dbdbdb; transition: all .5s;}
.contact-title ul li:hover {border-radius: 7px 7px 0 0;}
.contact-title ul li.on { border-radius: 7px 7px 0 0; background:#fff; height:41px;}
.contact-title ul li.on a {font-weight: 500;}
.contact-title ul li a {display: block; line-height: 40px;}
.contact-title .contact-info {font-size: 13px; margin-top:25px;}
.contact-title .contact-info:after {content: ''; display: block; clear: both;}
.contact-title .contact-info .fr a {display: block; padding: 5px 20px; border:1px solid #555; border-radius: 5px; margin-top: 10px; transition: all .3s;}
.contact-title .contact-info .fr a:hover {background:#555; color:#fff;}
.text-left {text-align:left;}
.table {width:100%;}
.board {border-top:2px solid #555;}
.board-table th {background:#f7f7f7; word-break: keep-all;}
.board-table th.text-left {padding-left:30px; color:#444;}
.board-table tr:nth-child(1) .input-control {width:74%;}
.board-table td {padding: 15px 40px; text-align:left;}
.board-table th, .board-table td {border-bottom:1px solid #ececec; font-size:0.9em; letter-spacing: -0.5px;}
.board-table td input[type="checkbox"] {vertical-align: -2px;}
.board-table td input[type="checkbox"] + label {margin-right:5%;}
.board-table .ico-star {color:#e10009;}
.board-table .radio-group {line-height: 45px;}
.board-table .radio-group .radio-btn {float:left; margin-right: 35px;}
.board-table .radio-group .radio-btn input {vertical-align: -1px;}
.board-table .input-group label {float:left; width:50%; text-align: left; margin-bottom: 10px;}
.board-table .input-group:last-child label {margin-bottom: 0;}
.board-table .input-group span.label-title {font-size: 17px; display: inline-block; margin: 7px 0 0 20px; float: left;}
.board-table .input-group a {display:block; float:left; font-size:15px; padding:10px 17px;}
.board-table .input-group label input {border: 1px solid #dbdbdb; height:40px; line-height: 40px; width:100%; padding-left: 10px;}
.board-table .input-group select {width:150px; height:42px; padding-left: 10px; border:1px solid #dbdbdb;}
.board-table .textarea-control {width:100%; border:1px solid #dbdbdb; box-sizing: border-box; resize:none; height: 180px; padding: 20px;}
.input-control {width:50%; height:40px; line-height: 40px; border:1px solid #dbdbdb; box-sizing: border-box; padding: 0 10px;}
.board-table button.black-btn {display:inline-block; padding:10px 60px; font-size:17px; margin-top:40px;}
.contact-search {background:#efefef; padding:5%;}
.contact-search button.black-btn {padding: 9px 35px; font-size: 15px;}
.contact-search-desc {margin:25px 0 10px; text-align:left; font-size: 14px;}
.search-table {}
.search-table th { padding:10px 0; border-top:2px solid #dbdbdb; border-bottom: 2px solid #dbdbdb}
.search-table tr td {padding:10px 0; border-bottom: 1px solid #e1e1e1;}
.search-table tr:nth-child(2n) td {background:#f9f9f9;}


/* 투자상품 */
.sub-invest {}
.sub-invest h2 {font-size: 40px; color:#000;}
.sub-invest-wrap {margin-top:70px;}
.invest-item {opacity: 0; height:60px; background:#f5f5f5; border:1px solid #e1e1e1; margin-bottom: 15px;}
.invest-item .invest-info {width:50%;}
.invest-item .invest-info .invest-img img {height: 61px;}
.invest-item .invest-info .invest-title {text-align:left; margin-left: 15px;}
.invest-item .invest-info .invest-title p img {height:17px; margin-top: 5px; margin-right: 5px;}
.invest-item .invest-info .invest-title strong {font-size: 17px; font-weight: 500; letter-spacing: -1px;}
.invest-item .invest-info .invest-title span {font-size: 14px; color:#666;}
.invest-item .invest-line {width:50%; box-sizing: border-box; padding:12px 0; font-family: "Nanum Gothic"; letter-spacing: -1px;}
.invest-item .invest-line .invest-line-item {position: relative; float:left; width:29.333%; font-size: 14px;}
.invest-item .invest-line .invest-line-item:nth-child(2) {width:40.333%; margin-top: 4px;}
.invest-item .invest-line .invest-line-item:nth-child(3) {width:30.333%;}
.invest-item .invest-line i {color:#222; margin-right:5px;}
.invest-num {color:#f1001a; display: inline-block; margin-right:5px; margin-top: 9px;}
.invest-pay {width:35%;}
.invest-pay span {color:#0088cc; font-size: 18px;}
.invest-bar {width:65%;}
.invest-bar span {color:#f1001a; position: absolute; right:0; margin-top:3px; font-size:12px;}
.invest-bar .progress-bar {border:1px solid #dbdbdb; box-sizing: border-box; width:100%; height:10px; border-radius: 5px; margin-top: 10px; box-shadow: inset 1px 1px 3px #999; overflow:hidden;}
.invest-bar .progress-bar .progress-bar-active {width:0; height:8px; background:#0088cc;}
.invest-item .invest-line .invest-line-item a {display: inline-block; width: 37%; margin:0 1%; padding:7px 0; font-size: 14px;}



/*contact us*/
.contact {position: relative; margin:10% 5% 5%; text-align: left;}
.contact:after {content:''; display: block; clear: both;}
.contact-content { width:50%;}
.contact-content h2 {font-size: 55px; font-family: "Roboto",sans-serif; color:#d78e00; line-height: 1;}
.contact-content h2 span {display: block; font-family:"Nanum Gothic"; font-weight: 300; letter-spacing: -5px;}
.contact-content .contact-info {letter-spacing: -0.5px; margin-top: 60px;}
.contact-content .contact-info span {display: inline-block; color:#bbb; word-break: keep-all;}
.contact-content .contact-info span.title {width:90px; font-size: 20px;}
.contact-content .contact-info span.title:after {content:'·'; display: inline-block; margin-left: 5px;}
.contact-content .contact-info ul li {line-height: 2; font-size: 22px;}
.contact-content .contact-info ul li.contact-tel span {color:#d78e00;}
.contact-map {width:50%; text-align: right;}
#daumRoughmapContainer1583052395868 {width:100%!important;}







/* 로그인 */
.sub-member {margin-top: 140px;}
.sub-member .member-wrap {border:1px solid #e1e1e1; width:550px; margin:30px auto 0; padding:40px 70px 60px; box-sizing: border-box;}
.sub-member .member-wrap h2 {margin:0 0 30px;}
.sub-member .input-wrap input {border:1px solid #fff; border-bottom: 1px solid #e1e1e1; width:100%; height:38px; margin-bottom: 20px;}

.sub-member .input-wrap input::-webkit-input-placeholder {color:#999999; letter-spacing: -1px;}
.sub-member .input-wrap input:-moz-placeholder {color:#999999;opacity:1; letter-spacing: -1px;}
.sub-member .input-wrap input::-moz-placeholder {color:#999999;opacity:1; letter-spacing: -1px;}
.sub-member .input-wrap input:-ms-input-placeholder {color:#999999; letter-spacing: -1px;}

.sub-member .member-btn:after {content: ''; display: block; clear: both;}
.sub-member .member-btn a {color:#555;}
.sub-member .security {text-align: left;}
.sub-member .security input {width:17px; height:17px; margin-right:5px;}
.sub-member .login-btn {margin: 30px 0 20px;}
.sub-member .login-btn input {display:block; width:100%; background:#23409c; color:#fff; font-size: 15px; height:40px; line-height: 40px; cursor: pointer;}
.sub-member .facebook-login {margin-top: 50px}
.sub-member .facebook-login a {display: block; border:1px solid #23409c; color:#23409c; height:40px; line-height: 40px;}

.sub-member .join-select p {margin-top: 45px; color: #555;}
.sub-member .join-select a {display: block; width:100%; height:40px; line-height: 40px; margin:10px 0;}
.sub-member .join-select a.personal {background:#23409c; color:#fff; border:1px solid #23409c;}
.sub-member .join-select a.corporation {border:1px solid #23409c; color:#23409c;}

.sub-member .join-form {text-align: left;}
.sub-member .join-form .join-form-item {margin:25px 0;}
.sub-member .join-form .join-form-item span {display: block;}
.sub-member .join-form .join-form-item select {border:1px solid #e1e1e1; width:100%; height:35px; line-height: 35px; margin-top: 10px;}
.sub-member .join-form .input-line {border-bottom: 1px solid #e1e1e1;width:100%;height: 35px;line-height: 35px;margin-top: 5px;}
.sub-member .join-form input::-webkit-input-placeholder {color:#999999; letter-spacing: -1px;}
.sub-member .join-form input:-moz-placeholder {color:#999999;opacity:1; letter-spacing: -1px;}
.sub-member .join-form input::-moz-placeholder {color:#999999;opacity:1; letter-spacing: -1px;}
.sub-member .join-form input:-ms-input-placeholder {color:#999999; letter-spacing: -1px;}
.sub-member .join-form .join-btn {margin-top: 55px;}
.sub-member .join-form .join-btn input {display: block; width:100%; background:#23409c; color:#fff; border:1px solid #23409c; font-size: 15px; height:40px; line-height: 40px; cursor: pointer;}
.sub-member .member-info {color:#999; font-size: 13px; word-break: keep-all; margin-bottom: 55px;}
.sub-member .member-info span {color:#555;}
.sub-member .join-form-num div {width:43.333%; display: inline-block;}
.sub-member .join-form-num div:nth-child(3) {width:10.333%; text-align: center;}


/* 마이페이지 */
.mypage-wrap {margin-top: 110px!important}
.sub-container .side {float:left; width:180px; border:1px solid #e1e1e1; text-align: left; padding: 20px; box-sizing: border-box;}
.sub-container .side .mypage-name {font-size: 17px;}
.sub-container .side .mypage-name strong {font-size: 23px; font-weight: 400; display: inline-block; margin-right: 7px;}
.sub-container .side .mypage-name strong a {color:#23409c;}
.sub-container .side .mypage-id {color: #999; font-size: 13px;}
.sub-container .side .mypage-point {font-size: 13px; margin-top: 15px; line-height: 1.2; border-bottom: 1px solid #e1e1e1; padding-bottom: 20px; color:#777;}
.sub-container .side .mypage-point span {font-weight: 500; display: block; color:#333;}
.sub-container .side .sub-mymenu ul {margin: 15px 0;}
.sub-container .side .sub-mymenu ul li {padding:10px;}
.sub-container .side .sub-mymenu ul li.on a {color:#23409c; font-weight: bold;}
.sub-container .side .sub-mymenu ul li.on a:after {content:"\f105"; font-family:FontAwesome; float: right; margin-top: 3px;}
.sub-container .side .sub-mymenu ul li a {display: block; color:#666;}


.sub-container .sub-content {float:right; width:900px;}

.dash-top div {border:1px solid #e1e1e1; box-sizing: border-box; border-right: 0; float:left; width:16.666%; font-size: 14px; padding:15px 0; height:88px; word-break: keep-all;}
.dash-top div:last-child {border-right: 1px solid #e1e1e1;}
.dash-top div strong {color:#23409c; display: block; font-size: 16px; margin-top: 10px;}
.my-cash {border:1px solid #e1e1e1; margin-top: 20px; padding: 10% 30%;}
.my-cash-top {border-bottom: 1px solid #e1e1e1; padding-bottom: 10px;}
.my-cash-top strong {font-size: 20px;}
.my-cash-top a {border:1px solid #ccc;border-radius: 3px;font-size: 13px;padding: 3px 10px;}
.my-cash-cont > div {margin:25px 0;}
.my-cash-bottom { text-align: left; border-top: 1px solid #e1e1e1; color:#23409c; font-size: 20px; padding-top: 10px;}
.dash-btn a {display: block; width:100%; background:#23409c; color:#fff; padding:10px 0; margin-top: 45px; border-radius: 5px;}


.invest-state button { background:none; font-size: 17px; color:#666; font-family: inherit;}
.invest-button button {margin-right: 10px;}
.invest-button button.on {color:#23409c; font-weight: bold;}
.invest-button02 {font-size: 0;}
.invest-button02 button {font-size: 14px; border:1px solid #e1e1e1; padding: 5px 10px;}
.invest-button02 button:first-child { border-radius: 5px 0 0 5px;}
.invest-button02 button:first-child.on {border:1px solid #23409c; color:#23409c; font-weight: bold;}
.invest-button02 button:last-child {border-radius: 0 5px 5px 0; border-left: 0;}
.invest-button02 button:last-child.on {border:1px solid #23409c; color:#23409c; font-weight: bold; margin-left: -1px;}
.invest-total {border:1px solid #e1e1e1; margin:20px 0; padding: 17px 0; font-size: 17px;}
.invest-total strong {color:#23409c; font-weight: bold; font-size: 22px; display: inline-block; margin-left: 10px; vertical-align: -2px;}
.invest-empty {border:1px solid #e1e1e1; padding: 25% 0;}
.invest-select {display: none;}
.invest-select select {width:100%; border:1px solid #e1e1e1; height: 40px; padding-left: 10px;}


.myaccount {border:1px solid #e1e1e1; padding:0 5%;}
.account-item {border-bottom: 1px solid #e1e1e1; padding: 25px 0;}
.account-item .fl {font-weight: bold; font-size: 17px;}
.account-item .fr {width:500px;}
.account-item:first-child .fl { margin:10px 0;}
.account-item strong.fr {color:#23409c; font-weight: bold; font-size: 30px; text-align: right;}
.account-item .account-input {border:1px solid #e1e1e1; background:#f9f9f9; width:500px; text-align: left; color:#999; padding: 10px 0 10px 20px; box-sizing: border-box; border-radius: 3px; margin-bottom: 15px;}
.account-item .account-input select {width:100%;}
.account-item .account-input:last-child {margin-bottom: 0;}
.account-item:nth-child(3) select {width:100%; border:1px solid #e1e1e1; background:#fff; height: 44px; padding:0 20px; font-family: inherit; font-size: 15px; border-radius: 5px; margin-bottom: 15px;}
.account-item:nth-child(3) .disable select {background:#f9f9f9; color:#999;}
.account-item:nth-child(3) input {width:100%; border:1px solid #e1e1e1; padding:10px 20px; font-family: inherit; box-sizing: border-box; border-radius: 3px; margin-bottom: 15px; font-size: 15px;}
.account-item:nth-child(3) input::placeholder {color:#999; font-size: 15px;}
.account-item:nth-child(3) input.inputName {margin-bottom: 0; width:69%; margin-right: 1%; background:#f9f9f9; color:#999;}
.account-item:nth-child(3) .disable input { background:#f9f9f9; color:#999; }
.account-item:nth-child(3) a {display: inline-block; width:30%; border:1px solid #c7c7c7; border-radius: 3px; color:#23409c; box-sizing: border-box; height:44px; line-height: 42px; vertical-align: top; font-weight: bold; font-size: 17px; transition:all .2s; text-align: center;}
.account-item:nth-child(3) a:hover {border:1px solid #23409c;}
.account-item:last-child {border-bottom: 0;}
.account-item:last-child .fr > div {display: inline-block; vertical-align: top;}
.account-item:last-child .output01 {position: relative;border:1px solid #e1e1e1; border-radius: 5px; }
.account-item:last-child .output01 input {width:250px; height:44px; line-height: 47px; text-align: right; padding: 0 28px 0 15px; color:#23409c; font-family: inherit; font-size: 16px; border-radius: 5px;}
.account-item:last-child .output01 input::placeholder {color:#23409c;}
.account-item:last-child .output01 span {position: absolute;right: 10px;top: 12px; color:#23409c;}
.account-item:last-child button {font-family: inherit; height:46px; border:1px solid #e1e1e1; font-size: 17px; padding: 0 15px; border-radius: 5px; line-height: 44px;}
.account-item:last-child .output02 button {background: #fff; margin:0 7px;}
.account-item:last-child .output03 button {background:#23409c; color:#fff; border:1px solid #23409c; padding: 0 28px;}
.account-guide {text-align: left; color:#888; font-size: 14px; line-height: 1.8; margin-top: 25px;}



.t-top {display: table; width:100%;border:1px solid #e1e1e1; padding:25px 20px; box-sizing: border-box;}
.t-top .row {display: table-row;}
.t-top .row.t-top-view .cell {padding-bottom: 20px;}
.t-top .cell {display: table-cell; width:60%; vertical-align: middle; text-align: left;}
.t-top .cell .fl:last-child {width:65%;}
.t-top .cell .fl {float: none; display: inline-block; vertical-align: middle;}
.t-top .cell strong.fl {font-size: 17px; min-width: 60px; margin-right:25px;}
.t-top .cell .p-date-wrap {border:1px solid #e1e1e1; border-radius: 5px; padding: 5px 15px; color:#555; font-size: 15px; width:100%;}
.t-top .cell .p-date-wrap i {color:#ccc; font-size: 14px; margin-right: 15px;}
.t-top .cell .p-date-wrap span {display: inline-block;  width:30%; margin:0 5%;}
.t-top .cell .p-date-wrap span input {width:100%; font-size: 15px; letter-spacing: 1px; text-align: center; font-family: inherit;}
input[type="checkbox"] {display:none;}
input[type="checkbox"] + label { display: inline-block; width: 20px; height: 20px; border: 1px solid #e1e1e1; cursor: pointer; vertical-align: middle; }
input[type="checkbox"]:checked + label { background:url("/resources/images/check-on.png")no-repeat center; border:1px solid #23409c; }
.check-input {display: inline-block;vertical-align: middle;width: 95px;position: relative;}
.check-input span { position: absolute; top:2px; left:0; padding-left: 35px; }
.t-button button {background:#fff;border:1px solid #e1e1e1;border-radius: 5px;display: inline-block;width: 77px;margin: 0 8px 0 0 ;padding: 7px 0;}
.t-button button:last-child {margin-right: 0;}
.t-button button.on {background:#23409c; color:#fff; border:1px solid #23409c;}
.t-view {display: block; width:100%; height:40px; line-height: 40px; background:#23409c; color:#fff; font-weight: bold; text-align: center; border-radius: 5px;}
.t-table {width:100%; margin-top: 20px;}
.t-table th {background:#f9f9f9; border:1px solid #e1e1e1; padding: 10px 0;}
.t-table .empty {border:1px solid #e1e1e1; height:400px;}
.t-table td {background:#fff; border:1px solid #e1e1e1; padding: 10px 15px;}
.m-date-wrap {display: none; color:#555; font-size: 15px; width:100%; font-size: 0;}
.m-date-wrap span {border:1px solid #e1e1e1; border-radius: 5px; display: inline-block; padding: 7px 3%; width:45%; box-sizing: border-box;}
.m-date-wrap i {color:#ccc; font-size: 14px; float: right; margin-top: 3px;}
.m-date-wrap input {font-family: inherit; width:80%;}
.m-date-wrap em {display: inline-block;font-size: 17px; width:10%; text-align: center; vertical-align: middle;}

.modify .account-item {border-bottom: 0; padding: 10px 0;}
.modify .account-item input {width:100%; border:1px solid #e1e1e1; padding:10px 20px; font-family: inherit; box-sizing: border-box; border-radius: 3px; margin-bottom: 0; font-size: 15px; }
.modify .account-item .disable input {background:#f9f9f9;}
.modify .account-item .pw-input {width:68%; margin-right: 1%;}
.modify .account-item a {display: inline-block; width:30%; border:1px solid #c7c7c7; border-radius: 3px; color:#23409c; box-sizing: border-box; height:44px; line-height: 42px; vertical-align: top; font-weight: bold; font-size: 17px; transition:all .2s; text-align: center;}
.modify .account-item a:hover {border:1px solid #23409c;}
.modify .memNum {border-bottom: 1px solid #e1e1e1; padding-bottom: 25px;}
.modify .cash {display: inline-block;vertical-align: middle;width: 100px;position: relative;}
.modify .cash span { position: absolute; top:2px; left:0; padding-left: 35px; }
.modify .cash input[type="radio"] {display:none;}
.modify .cash input[type="radio"] + label { display: inline-block; width: 20px; height: 20px; border: 1px solid #e1e1e1; cursor: pointer; vertical-align: middle; border-radius: 50%;}
.modify .cash input[type="radio"]:checked + label { border:1px solid #23409c; }
.modify .cash input[type="radio"]:checked + label:after {content: ''; display: block; width:12px; height:12px; background:#23409c; border-radius: 50%; position: absolute; top:53%; left:11%; transform: translate(-50%,-50%);}
.modify p.blue {color:#23409c; word-break: keep-all; letter-spacing: -0.5px;}
.modify .gray-line {border-bottom: 1px solid #e1e1e1; padding:25px 0;}
.modify .check-input {width:100%; margin:10px 0;}
.modify-btn {text-align: right; margin:30px 0;}
.modify-btn a {display: inline-block; background: #23409c; color:#fff; font-weight: bold; padding: 10px 40px; border-radius: 5px;}
.member-out {text-align: left; margin-top: 15px;}
.member-out a.blue {color:#23409c;}
.phone-cert {display: none; margin-bottom: 20px;}


.point {display: block;}
.point-row {text-align: left; display: block!important; border-bottom: 1px solid #e1e1e1; padding-bottom: 15px; margin-bottom: 15px;}
.point-row .cell {display: inline-block; width:auto;}
.point-row .cell div {display: inline-block; color:#23409c;}
.point-row .cell strong {display: inline-block; margin-right: 15px;}
.point-row .cell:first-child {margin-right: 20%;}
.point-row .cell:first-child div {font-weight: bold;}
.point-row .cell:last-child strong {font-weight: normal;}
.q-icon {display: inline-block; width:15px; height:15px; line-height: 15px; font-size: 12px; background:#bbb; border-radius: 50%; color:#fff; text-align: center; transition:all .2s;}
.q-cont {opacity: 0; visibility: hidden; position: absolute;width: 150px;font-size: 12px;letter-spacing: -1px;/* top: 50px; */margin: 25px 0 0 -65px;background: #fff;border: 1px solid #e1e1e1;box-shadow: 1px 1px 1px #f1f1f1;color: #222!important; word-break: keep-all; padding: 5px; border-radius: 5px;}
.q-cont strong {font-weight: bold!important;}
.point-check .check-input {width:80px;}
.p-pagenation .this a {background:#23409c; color:#fff;}
.t-table-mobile {display: none; border:1px solid #e1e1e1; padding: 10px;}
.t-table-mobile td {border:0;}


.invest-top-search {background: #f5f5f5; padding: 30px 0; margin-bottom: 80px;}
.invest-top-search .w85 {width:85%; position: relative;}
.invest-top-search .w85 input {width:100%; height:46px; box-shadow: 1px 1px 4px #e1e1e1; box-sizing: border-box; padding-left: 20px; font-family: inherit;}
.invest-top-search .w85 input::placeholder {color:#999;}
.invest-top-search .w85 a {position: absolute; top:10px; right:15px;}
.invest-top-search .w85 a i { font-size: 20px; }
.invest-top-search .w15 {width:15%;}
.invest-top-search .w15 a {position: relative; display: block; width:90%; height:46px; line-height: 46px; margin:0 auto; background: #fff; float: right; box-shadow: 1px 1px 4px #e1e1e1;}
.invest-top-search .w15 a.on i {transform: rotate(135deg);}
.invest-top-search .w15 a i {display: inline-block; margin-left: 10px; transform: rotate(0);  transition:.2s;}
.i-search {margin-bottom: 20px;}
.i-search-item {background:#fff;height: 35px;padding: 15px 0 0px 30px; border-bottom: 1px solid #e1e1e1;}
.i-search-item strong {display: inline-block; margin-right: 45px;}
.i-search-item .check-input  {text-align: left;}
.i-search-item .check-input span { top:0; font-size: 14px; padding-left: 30px;}
.i-search-item input[type="checkbox"] + label {width:15px; height:15px; margin-top: -5px; background-size: 10px auto;}
.i-search-item .check-all {position: relative; margin-right: 45px;}
.i-search-item .check-all:after {content:''; display: block; width:1px; height:17px; background:#e1e1e1; position: absolute; right: 0; top:2px;}
.all-clear {text-align: left; margin-top: 30px; display: inline-block; cursor: pointer; }
.all-clear i {margin-left: 5px; border-right: 1px solid #e1e1e1; padding-right: 10px;}
.i-search-bottom {display: inline-block; margin-left: 1%; width:calc(100% - 106px); text-align: left;}
.i-search-item-wrap {display: none;}
.mobile-i { display: none; font-size: 0;}
.mobile-i ul {width:31.333%; display: inline-block; vertical-align: top; background:#fff; border-radius: 5px; text-align: left;}
.mobile-i ul:nth-child(2) {margin:0 3%;}
.mobile-i ul li {font-size: 13px; padding: 0 15px;}








/* 하단 */
#footer {background:#222; color:#666;}
#footer .inner {padding-top:40px;}
#footer .footer-menu {font-size: 0;}
#footer .footer-menu span {color:#999;}
#footer .footer-menu:after {content: ''; display: block; clear:both;}
#footer .footer-menu a {color:#999;}
#footer .footer-menu .footer-item {display: inline-block; vertical-align: top; font-size: 15px;}
#footer .footer-menu .footer-item:nth-child(1) {width:38%;}
#footer .footer-menu .footer-item:nth-child(2) {width:38%; line-height: 1.7;}
#footer .footer-menu .footer-item:nth-child(2) div p span:first-child {position: relative; padding-right:5px;}
#footer .footer-menu .footer-item:nth-child(2) div p span:first-child:after {content:''; display:inline-block; position: absolute; width:1px; height:10px; background:#333; top:7px; right:-1px;}
#footer .footer-menu .footer-item:nth-child(3) {width:24%;}
#footer .footer-menu .footer-item .footer-cs {margin-bottom: 10px;}
#footer .footer-menu .footer-item .footer-cs span {margin-right:10px; margin-left: 0;}
#footer .footer-menu .footer-item span {display: inline-block; margin:0 5px;}
#footer .footer-menu .footer-item ul {width:80%;}
#footer .footer-menu .footer-item ul li {display: inline-block; width:17%; margin:0 2%; opacity: .4; transition: all .2s;}
#footer .footer-menu .footer-item ul li:hover {opacity: 1;}
#footer .footer-menu .footer-item ul li img {width:100%;}
#footer .footer-menu .util {width:60%;}
#footer .footer-menu .util a {display: inline-block; margin:3% 5% 3% 0; font-size: 17px;}
#footer .footer-box {padding-top:30px; margin-top:50px; border-top:1px solid #333;}
#footer .footer-box span.footer-company {display: inline-block; margin-right:15px;}
#footer .footer-box span {font-size: 13px; letter-spacing: -0.5px; word-break: keep-all;}
#footer .footer-box p {color:#aaa; font-size: 17px; padding:10px 0 35px;}
#footer .footer-box a {display: block; color:#666;}




/* PC Full */
@media screen and (min-width: 1381px){}
/* PC size */
@media screen and (max-width: 1320px){
    #topmenu .inner {width:100%; padding:0 3%; box-sizing: border-box; }
    #topmenu.fixmenu h1 {left:5%;}
}


@media screen and (max-width: 1240px){
  .inner {width:97%;}
  #topmenu .top-nav > ul > li > a {font-size: 16px; padding:0 12px;}
  #topmenu .top-nav .top-nav-r li a {font-size: 15px;}

  .main-slider .slick-prev {left:5%; margin-left: 0;}
  .main-slider .slick-next {right:5%; margin-right: 0;}

  .main-slider-thumb {top:35%; right:6%;}
  .main-slider-item02 .main-slider-thumb, 
  .main-slider-item03 .main-slider-thumb, 
  .main-slider-item04 .main-slider-thumb {right: 15%; top:30%;}
  .main-slider-item02 .main-slider-thumb img, 
  .main-slider-item03 .main-slider-thumb img, 
  .main-slider-item04 .main-slider-thumb img {width:100%;}
  .main-slider-thumb img {width:90%;}
  .main-slider-text {width:100%;padding-top: 7%; padding-left: 10%;}
  .main-slider-item01 .main-slider-thumb {top:35%;}
  .main-slider-text .number {font-size: 15px;}
  .main-slider-text h2 {font-size: 32px;}
  .main-slider-item05 .main-slider-text .number {font-size: 2.5em;}
  .fund-item:first-child .fund-img {top:12%;}
  .main-tab #content ul li img {max-height: 174px;}

  .main-swiper .slick-prev {left:3%; margin-left: 0;}
  .main-swiper .slick-next {right:3%; margin-right: 0;}
  .main-swiper .slick-slide a {width:100%;}

  .sub-top-title {margin-bottom: 45px;}
  .sub-use .sub-use-banner a p {font-size: 24px;}

  .contact-content .contact-info ul li {font-size: 17px;}

}
@media screen and (max-width: 1170px){
	#container.sub-container .inner {width:95%;}
	.sub-container .side {float: none; width:100%; margin-bottom: 20px;}
	.side .mypage-info {float: left; width:25%;}
	.side .sub-mymenu {float: right; width:65%;}
	.sub-container .side .sub-mymenu ul li {float:left; padding: 10px 4%;}
	.sub-container .side .sub-mymenu ul li.on a:after {margin-left: 10px;}
	.sub-container .sub-content {float: none; width:100%;}
	.sub-container .side .mypage-point {border-bottom: 0; border-top: 1px solid #e1e1e1; padding: 15px 0 0;}
	.sub-container .side .mypage-name {float: left;}
	.sub-container .side .mypage-id {margin: 12px 0 0 100px}
	#topmenu .top-nav ul.top-nav-l {margin-left: 15px;}
	.t-button {font-size: 0;}
	.t-button button {margin: 0 1.3% 0 0;width: 24%;}
}

/* Notebook size */
@media screen and (max-width: 1024px){
  .content-title {font-size: 1.7em;}

  #topmenu h1 {margin-top: 3px;}
  #topmenu h1 img {width:95px;}
  #topmenu .top-nav > ul > li > a {font-size: 15px; padding: 0 10px;}
  #topmenu .top-nav ul.top-nav-l {margin-left: 10px;}
  #topmenu .top-nav .top-nav-r li {margin:0 6px;}
  #topmenu .top-nav .top-nav-r li a {font-size: 13px;}
  #topmenu .top-nav .top-util a {width:65px; font-size: 13px; margin:11px 0 0 5px;}

  .main-slider-text {padding-top: 115px;}
  .main-slider-text strong {font-size: 3.5em;}
  .main-slider-text h2 {font-size: 29px;}
  .main-slider-item01 .main-slider-thumb {top:auto; bottom:0;}
  .main-slider-item05 .main-slider-thumb {bottom:auto; top:35%;}
  .main-slider-item05 .main-slider-text .number {font-size: 2em;}

  .main-fund-top img {width:50%; max-width: 489px;}
  .fund-img {text-align:right; top:20%;}
  .fund-img img {width:75%;}
  .main-fund .fund-num img {width:35px;}
  .main-fund strong {font-size: 25px;}
  .main-fund p {font-size: 16px;}

  .main-tab h2 {font-size: 28px;}
  .main-tab #tabs a {font-size: 18px;}
  .main-tab #content ul li img {max-height: 130px;}
  .main-tab #content ul li .info {font-size: 15px;}

  .sub-top-title {height:175px; line-height: 4.5;}
  .sub-faq h2 {font-size: 32px;}
  .sub-faq #content a.more {font-size: 16px;}

  .sub-news .news-cont .news-text .title {font-size: 15px;}
  .sub-news .news-cont .news-text p {-webkit-line-clamp:3; height:60px;}

  .sub-use h2 {font-size: 35px;}
  .sub-use .sub-title {font-size: 26px;}
  .sub-use .sub-use-banner a span {font-size: 22px;}
  .sub-use .sub-use-banner a span img {width:9px;}

  .sub-invest h2 {font-size: 35px}
  .invest-item {height: 82px;}
  .invest-item .invest-info .invest-img img {margin:11px 0px 11px 11px}
  .invest-item .invest-info .invest-title {margin: 17px 0 0 7px; width: 60%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
  .invest-item .invest-info {width:58%;}
  .invest-item .invest-line {width:42%;}
  .invest-item .invest-info .invest-title strong {font-size: 13px;}
  .invest-item .invest-info .invest-title span {font-size: 12px;}
  .invest-num, .invest-month {display: block; text-align: left;}
  .invest-num {margin-top: 22px;}
  .invest-item .invest-line .invest-line-item:nth-child(2) {margin-top: 18px; width:45.333%;}
  .invest-item .invest-line .invest-line-item:nth-child(3) {width:26.333%;}
  .invest-item .invest-line {padding:4px 0;}
  .invest-item .invest-line .invest-line-item {font-size: 13px; width:27.333%;}
  .invest-pay span {font-size: 16px;}
  .invest-pay {font-size: 12px;}
  .invest-item .invest-line .invest-line-item a {font-size: 12px; width:80%; margin: 2px 0 3px;}

  .fund-select-top h3 {font-size: 35px;}
  .sub-inner {width:95%;}
  .fund-select {width:95%; margin:70px auto 0;}
  .fund-select-top button {font-size: 20px;}
  .fund-select-top button span {font-size: 17px;}
  .fund-select h3, .hsliderValue {font-size: 22px;}
  .hsliderValue {margin-top: -65px;}
  .fund-setting h3 {font-size: 22px;}
  .fund-setting span {font-size: 14px;}
  .fund-btn button {padding: 12px 0; font-size: 17px;}
  .fund-select h3:after {left: calc(100% - 47px); right: auto;}
  #fund-select02_handle1_val, #fund-select03_handle1_val {margin-left: calc(100% - 90px);}

  .contact-content h2 {font-size: 48px;}

  .dash-top div {font-size: 13px;}
  .sub-container .side .sub-mymenu ul li {padding: 10px 3%;}
  .t-top .cell .p-date-wrap span {width:35%; margin:0 3%;}
  .check-input {width:32.333%;}

  .i-search-item .check-input {width:120px;}
  .i-search-item .check-all {margin-right: 20px; width:70px;}
  .i-search-item3 .check-input {width:70px;}
  .i-search-item3 .check-all {margin-right: 20px; width:70px;}
  .i-search-item strong {font-size: 14px; margin-right: 25px;}
  .i-search-item .check-input span {font-size: 12px; padding-left: 25px;}

  #footer .footer-menu .util a {font-size: 15px;}
  #footer .footer-menu .footer-item {font-size: 14px;}
  #footer .footer-box p {font-size: 15px;}
  #footer .footer-menu .footer-item ul li {width:19%;}

}

/* Tablet size */
@media screen and (max-width: 768px){
	#mTopmenu {display:block;}
	#topmenu {display: none;}
	#container {margin-top: 50px;}

	.main-slider .slick-arrow {display: none!important;}
	.main-slider .slick-dots {bottom:auto; top:70px; text-align: right; width:95%;}
	.main-slider-text strong {font-size: 2.5em;}
	.main-slider-text {padding:100px 0 0 5%;}
	.main-slider-item01 .main-slider-thumb {width:50%;}
	.main-slider-item02 .main-slider-thumb, 
	.main-slider-item03 .main-slider-thumb, 
	.main-slider-item04 .main-slider-thumb {width:37%; top:auto; bottom:10%; right:8%;}
	.main-slider-item05 .main-slider-thumb {top:auto; bottom:10%;}
	.main-slider-item05 .main-slider-text .number {font-size: 1.8em}
	.main-slider-text h2 {font-size: 25px;}
	.main-slider-thumb img {width:100%;}

	.fund-img img {width:60%;}
	.main-swiper .slick-arrow {display: none!important;}
	.main-fund strong {font-size: 20px;}
	.main-fund p {font-size: 14px;}
	.main-fund .fund-num img {width:30px;}
	.main-fund {padding-bottom: 2%;}
	.main-tab h2 {font-size: 24px; margin-bottom: 20px;}
	.main-tab #tabs a {font-size: 16px;}
	.main-tab #content ul li {width:47.333%;}
	.main-tab #content {margin-top:15px;}
	.main-tab #content ul li img {min-height: 165px;}

	.sub-top-title {height:150px; font-size: 32px;}
	.sub-faq h2 {font-size: 28px;}
	.sub-faq #tabs {width:285px;}
	.sub-faq #tabs a {font-size: 17px;}
	.sub-faq #content ul li .q-line {font-size: 15px;}
	.sub-faq #content ul li .a-line {font-size: 14px;}
	.sub-faq #content a.more {font-size: 15px;}

	.sub-news .news-cont .news-images {width:45%;}
	.sub-news .news-cont .news-text {width:54%;}
	.sub-news .news-cont .news-text .title {font-size: 14px;}
	.sub-news .news-cont .news-text p {font-size: 12px; height:55px;}

	.sub-use h2 {font-size: 30px;}
	.sub-use .sub-title {font-size: 23px; margin-top: 40px;}
	.sub-use .sub-use-banner a p {font-size: 20px; line-height: 1.2;}
	.sub-use .sub-use-banner a span {font-size: 18px; margin-top: 15%;}
	.sub-use .sub-use-banner a span img {width:7px;}
	.sub-use .sub-use-banner a {padding: 35px 45px 20px;border-radius: 0 45px 45px 0;}
	.sub-use .sub-use-banner a:first-child {border-radius: 45px 0 0 45px;}

	.board-table th {width:25%;}
	.board-table tr:last-child label {width:100%;}
	.contact-title .contact-info .fr a {font-size: 13px; padding:5px 10px;}
	.board-table button.black-btn {font-size: 15px;}

	.sub-invest h2 {font-size: 30px}
	.sub-invest-wrap {margin-top: 30px;}
	.invest-item {height:auto; margin-bottom: 30px;}
	.invest-item:after {content: ''; display: block; clear: both;}
	.invest-item .invest-info {width:100%;}
	.invest-item .invest-line {width:100%; padding: 4px 0 10px;}
	.invest-item .invest-info .invest-img {width:100%; }
	.invest-item .invest-info .invest-title {width:95%; margin:17px 0 10px 5%;}
	.invest-item .invest-line .invest-line-item:nth-child(1) {width:21.333%; padding-right: 10px;}
	.invest-item .invest-line .invest-line-item:nth-child(2) {width:42.333%; margin-top: 0;}
	.invest-item .invest-line .invest-line-item:nth-child(3) {width:34.333%;}
	.invest-num, .invest-month {margin-left: 25%; font-size: 14px;}
	.invest-num {margin-right: 0; margin-top: 0;}
	.invest-item .invest-line .invest-line-item a {width:40%;}
	.invest-item .invest-info .invest-img img {width:100%; margin:0; height:auto;}
	.invest-item .invest-info .invest-title strong {font-size: 22px;}
	.invest-item .invest-info .invest-title span {font-size: 20px;}

	.fund-select-top h3 {font-size: 30px; margin-bottom: 35px;}
	.fund-select-top button {font-size: 18px;}
	.fund-select-top button span {font-size: 14px;}
	.fund-select h3, .hsliderValue {font-size: 20px;}
	.fund-select {margin: 45px auto 0;}
	.hsliderValue {margin-top: -60px;}
	.fund-switch .switch {width:80px;}
	.fund-switch p.switch-off {right: 15px;}
	.fund-switch p.switch-on {left:15px;}
	.fund-switch input:checked + .slider:before {transform: translateX(45px); -ms-transform:translateX(45px); -webkit-transform:translateX(45px);}
	.fund-setting h3 {font-size: 20px;}
	.fund-setting span {font-size: 13px;}
	.fund-btn button {font-size: 15px;}

	.contact-content {float: none; width:100%;}
	.contact-map {float: none; width:100%;}
	.contact-map iframe {width:100%; margin-top: 10%;}

	.sub-container .side {display: none;}
	.dash-top div {width:33.333%; margin-bottom: -1px;}
	.dash-top div:nth-child(3) {border-right: 1px solid #e1e1e1;}

	.invest-select {display: block;}
	.invest-button {display: none;}
	.invest-button02 {float: none; width:100%; margin-top: 20px;}
	.invest-button02 button {width:50%; padding: 10px;}
	.invest-total {font-size: 15px; padding:10px 0; margin:15px 0;}
	.invest-total strong {font-size: 19px;}

	.account-item .fr, .account-item .fl {float: none; text-align: left;}
	.account-item strong.fr {display: block; text-align: left;}
	.account-item .fl {margin:10px 0;}
	.account-item .fr, .account-item .account-input {width:100%;}
	.account-item:last-child .output01 {width:55%;}
	.account-item:last-child .output01 input {width:calc(100% - 44px);}
	.account-item:last-child .output02 {width:15%; margin:0 1%;}
	.account-item:last-child .output03 {width:25%;}
	.account-item:last-child button {width:100%; padding: 0!important; margin:0!important;}

	.t-top .cell .fl:last-child {width:100%;}
	.t-top .cell strong.fl {display: block; margin-bottom: 10px;}
	.t-top .row:first-child .cell {margin-bottom: 10px;}
	.t-top .cell {width:100%; display: block;}
	.p-date-wrap {display: none;}
	.m-date-wrap {display: block;}
	.t-button button {margin: 0 2.65% 0 0;width: 23%;}
	.check-input {margin-bottom: 10px;}
	.t-table th {display: none;}

	.point-row  {border-bottom: 0; padding-bottom: 0; margin-bottom: 0;}
	.point-row .cell:first-child div {display: block; font-size: 25px; margin-bottom: 25px;}
	.point .row {display: none;}
	.t-table-pc {display: none;}
	.t-table-mobile {display: block;}

	.invest-top-search .w85 {width:100%;}
	.invest-top-search .w15 {display: none;}
	.pc-i {display: none;}
	.mobile-i {display: block;}


	#footer .footer-menu .footer-item {width:100%!important; text-align:center;}
	#footer .footer-menu .footer-item .fr {float:none; margin:35px 0 0;}
	#footer .footer-menu .footer-item ul {width:100%;}
	#footer .footer-menu .util {width:100%;}
	#footer .footer-menu .footer-item ul li {width:7%;}
	#footer .footer-box span {font-size: 12px;}
	#footer .footer-box p {font-size: 13px;}
	#footer .footer-box {padding: 30px 25px 0;}
}


/* Mobile1*/
@media screen and (max-width: 640px){
	.main-slider-item01 .main-slider-thumb {width:55%;}
	.fund-img img {width:45%;}
	.main-fund .fund-num img {width:20px;}
	.main-fund strong {font-size: 16px;}
	.main-fund p {font-size: 12px;}
	.fund-item:first-child .fund-img {top:auto; bottom:10%;}
	.fund-item:first-child .fund-img img {width:40%;}
	.main-fund {padding-bottom: 5px;}

	.main-tab h2 {font-size: 18px; margin-bottom: 10px;}
	.main-tab #tabs a {font-size: 14px;}
	.main-tab #content {margin-top: 0;}
	.main-tab #content ul li img {min-height: 120px;}

	.sub-top-title {height:120px; font-size: 26px;}
	.sub-faq h2 {font-size: 25px; margin-top: 5px;}
	.sub-faq #tabs {width:255px;}
	.sub-faq #tabs a {font-size: 15px;}
	.sub-faq #tabs li:after {top:4px;}
	.sub-faq #content ul li .q-line {font-size: 14px;}
	.sub-faq #content ul li .a-line {font-size: 13px;}
	.sub-faq #content a.more {font-size: 14px; width:50%;}

	.sub-news .news-cont .news-images {width:100%;}
	.sub-news .news-cont .news-text {width:100%; margin-top: 20px;}
	.sub-news .news-cont .news-images img {width:100%;}

	.sub-use h2 {font-size: 25px;}
	.sub-use .sub-title {font-size: 18px;}
	.sub-use .sub-use-banner a {width:100%;border-radius: 45px; margin:5px 0;}
	.sub-use .sub-use-banner a:first-child {border-radius: 45px;}
	.sub-use .sub-use-banner a p {font-size: 25px;}
	.sub-use .sub-title span:before {height:1px; top:3px;}
	.sub-use .sub-use-wrap img {float:none; width:80%; margin:0 auto 30px;}
	.sub-use .sub-use-wrap a.sub-use-link1 {top:0%; left:14%; width:24%; height:29%;}
	.sub-use .sub-use-wrap a.sub-use-link2 {top:0%; left:56%; width:24%; height:29%;}
	.sub-use .sub-use-wrap a.sub-use-link3 {top:49%; left:17.5%; width:24%; height:29%;}
	.sub-use .sub-use-wrap a.sub-use-link4 {top:49%; right:14%; width:25%; height:29%;}

	.contact-title .contact-info .fl, 
	.contact-title .contact-info .fr {float:none; word-break: keep-all;}
	.contact-title .contact-info .fr a {display: inline-block;}
	.board {font-size: 14px;}
	.board-table td {padding: 15px 15px;}
	.board-table .input-group a {font-size: 13px; padding: 10px;}
	.board-table .input-group label input {font-size: 12px;}
	.board-table th.text-left {padding-left:0; text-align: center;}
	.board-table button.black-btn {font-size: 14px;}
	.board-table .input-group span.label-title {font-size: 14px; margin:9px 0 0 20px;}
	.contact-title ul li a {font-size: 13px;}

	.sub-invest h2 {font-size: 25px}
	.invest-item .invest-line .invest-line-item:nth-child(1) {width:21.333%;}
	.invest-item .invest-line .invest-line-item:nth-child(2) {width:40.333%; margin-top: 0;}
	.invest-item .invest-line .invest-line-item:nth-child(3) {width:35.333%;}
	.invest-num {font-size: 13px;}

	.fund-select-top h3 {font-size: 25px;}
	.fund-select-top button {padding: 3%;}
	.fund-select h3, .hsliderValue {font-size: 17px;}
	.fund-type {margin:-22px 0 0 10%;}
	.hsliderValue {margin-top: -57px;}
	.fund-select h3:after {left: calc(100% - 43px);}
	.fund-setting {padding-top: 3px;}
	.fund-setting h3 {margin-bottom: 7px;}
	.fund-select01 .fund-select-line:last-child span,
	.fund-select03 .fund-select-line:last-child span {margin-left: -42px;}
	.fund-select02 .fund-select-line:last-child span {margin-left: -16px; width:30px;}

	.contact-content h2 {font-size: 40px;}
	.contact-content .contact-info {margin-top: 10%;}
	.contact-content .contact-info span.title, 
	.contact-content .contact-info ul li {font-size: 17px;}

	.sub-member {margin-top: 70px;}
	.sub-member .member-wrap {width:100%; border:0; padding: 40px 30px 60px;}

	.dash-top div {width:50%;}
	.dash-top div:nth-child(2n) {border-right: 1px solid #e1e1e1;}
	.dash-top div:nth-child(3) {border-right: 0;}

	.my-cash {padding: 10%;}
	#mTopmenu .sub-mymenu ul li a {font-size: 14px;}
	.my-cash-top strong {font-size: 17px;}


	#footer .footer-menu .util a {font-size: 13px;}
	#footer .footer-menu .footer-item {font-size: 13px;}
}


/* Mobile2 */
@media screen and (max-width: 480px){
	.main-slider-item01 .main-slider-thumb {width:60%;}
	.main-slider-item02 .main-slider-thumb, 
	.main-slider-item03 .main-slider-thumb {width:55%; right:5%;}
	.main-slider-item04 .main-slider-thumb {width:45%;} 
	.main-slider-item05 .main-slider-thumb {width:55%;}
	.fund-title {width:65%; word-break: keep-all;}
	.main-fund strong {font-size: 15px;}
	.main-tab h2 {font-size: 15px;}
	.main-tab #tabs li {margin:0 4%; }
	.main-tab #content ul li {width:98%;}
	.main-tab #content ul li .info {font-size: 13px;}
	.main-tab #content ul li img {min-height: 206px;}

	.sub-top-title {height:100px; font-size: 22px;}
	.sub-faq #tabs a {font-size: 13px;}
	.sub-faq #tabs {width:220px;}

	.sub-faq #content ul li .q-line {font-size: 13px;}
	.sub-faq #content ul li .a-line {font-size: 12px;}

	.sub-use h2 {font-size: 20px;}
	.sub-use .sub-title {font-size: 15px;}
	.sub-use .sub-use-banner a p {font-size: 20px;}
	.sub-use .sub-title span:before {padding: 1px 0 0; top:1px;}

	.board {font-size: 12px;}
	.board-table th.text-left {font-size: 12px;}
	.board-table td {font-size: 12px;}
	.board-table .input-group a {width:70px; word-break: keep-all; text-align: center; padding: 2px 10px; font-size: 12px;}
	.board-table button.black-btn {font-size: 12px;}
	.board-table .input-group span.label-title {font-size: 13px; margin:11px 0 0 20px;}

	.sub-invest h2 {font-size: 20px}
	.invest-item .invest-line .invest-line-item:nth-child(1) {width:27%;}
	.invest-item .invest-line .invest-line-item:nth-child(2) {width:63%; margin-top: 0;}
	.invest-item .invest-line .invest-line-item:nth-child(3) {width:100%; margin-top: 15px;}
	.invest-item .invest-line .invest-line-item a {margin:0 1%; width:42%; font-size: 14px; padding: 9px 0 7px;}
	.invest-item .invest-info .invest-title span {display: block;}

	.fund-select-top h3 {font-size: 20px;}
	.fund-select-top button {font-size: 15px; padding: 2%;}
	.fund-select-top button span {font-size: 12px;}
	.fund-select h3, .hsliderValue {font-size: 15px;}
	.hsliderValue {margin-top: -53px;}
	.fund-select-line span {font-size: 11px;}
	.fund-select h3:after {left:calc(100% - 41px);}
	.fund-type {margin: -22px 0 0 11%;}
	.fund-setting h3 {font-size: 17px;}
	.fund-setting span {font-size: 12px;}
	.fund-switch .switch {width:65px; height: 32px;}
	.fund-switch .slider:before {bottom: 3px;}
	.fund-switch p {font-size: 12px;}
	.fund-switch p.switch-off {right:10px;}
	.fund-switch p.switch-on {left: 10px;}
	.fund-switch input:checked + .slider:before {transform: translateX(30px); -ms-transform:translateX(30px); -webkit-transform:translateX(30px);}
	.fund-btn button {padding: 8px 0; font-size: 13px;}

	.contact-content h2 {font-size: 32px;}
	.contact-content .contact-info span.title, 
	.contact-content .contact-info ul li {font-size: 16px;}

	.account-item:last-child button {font-size: 15px;}
}


@media screen and (max-width: 380px){
	.main-slider-text h2 {font-size: 18px;}
	.main-slider-text strong {font-size: 30px;}
	.main-slider-item05 .main-slider-text .number {font-size: 24px;}
	.fund-title {width:100%;}
	.fund-title p {width:65%;}
	.main-fund .fund-num img {width:15px;}
	.fund-img img {width:40%;}
	.main-tab #tabs li {margin:0 3%;}
	.main-tab #content ul li img {min-height: 174px;}
	.board-table .input-group span.label-title {margin:11px 0 0 12px;}

	.invest-item .invest-line .invest-line-item:nth-child(1) {width:32%;}
	.invest-item .invest-line .invest-line-item:nth-child(2) {width:60%;}

	.contact-content .contact-info ul li {font-size: 14px;}
}