/* CSS Document */

div.aria-widget-text-slider {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 120px;
}

div.aria-widget-text-slider .rail {
  margin: 2px;
  padding: 1px;
  background-color: #eee;
  border: 1px solid #888;
  position: relative;
  top: 2em;
  height: 4px;
}

div.aria-widget-text-slider .thumb {
  border: 1px solid #888;
  border-top-color: #666;
  border-left-color: #666;
  background-color: #ddd;
  position: relative;
}

div.aria-widget-text-slider .rail .thumb.focus,
div.aria-widget-text-slider .rail .thumb:hover {
  outline: 2px solid #888;
  background-color: #e0cb52;
}

div.aria-widget-text-slider .rail.focus {
  background-color: #aaa;
}

div.aria-widget-text-slider div.value {
  text-align: center;
  display: block;
  position: absolute;
}

div.aria-widget-text-slider label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}